type: "MARKDOWN_NOTE"
folder: "e6229411fe9f0443c1b4"
title: "Vue/Webpack theming"
content: '''
  # Vue/Webpack theming
  
  ## Todo
  
  - [ ] Write loader to add brand wrapping comments around vue style sections
'''
tags: [
  "prototyping"
]
isStarred: false
createdAt: "2017-02-09T04:40:09.111Z"
updatedAt: "2017-02-09T04:43:27.981Z"
